body{

font-family:
Arial,
"Helvetica Neue",
sans-serif;


max-width:500px;

margin:auto;

padding:20px;

}


h1{

text-align:center;

}



.notice{

font-size:14px;

background:#eee;

padding:10px;

}



.box{

margin-bottom:20px;

}



label{

display:flex;

justify-content:space-between;

margin:10px 0;

font-size:18px;

}



input{

width:120px;

font-size:18px;

padding:5px;

}



button{

width:100%;

padding:15px;

font-size:20px;

margin-top:15px;

}



.reset{

margin-top:10px;

}


canvas{

margin-top:30px;

}